.successContainer, .cancelledContainer{
    margin: auto;
    margin-top: 3rem;
}

.baseFooter{
    position:fixed;
    width: 80%;
    margin:0 auto;
    left:0;
    right:0;
    padding:0;
    bottom:0;
}