@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18E.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
  }
  /*******Common html elements*******/
  :root {
    --headerColor: (68, 228, 156);
    --backgroundColor: #afbceb;
    --textColor: #175BE3;
    --borderColor: #400CFA;
    --butnColor: #0c0c0c;
    --carouselColor: black;
    --carouselBack: #e70c0c;
    --carouselMove: #0beb0b;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .container {
    background-color: var(--backgroundColor);
  }
  p {
    color: var(--textColor);
  }
  /***************Top****************/

  /****************Body***************/
  

  /***************Bottom****************/
  /*Using padding and margin moreso than position, relative parent to absolute child 
  displays element element within parent, use fixed to stick or sticky */
  .footer {
    border-left: 0.2em solid var(--borderColor);
    border-right: 0.2em solid var(--borderColor);
    border-top: 0.2em solid var(--borderColor);
    padding: 0.5rem 2rem 0.1rem 2rem;
    background: var(--backgroundColor);
    line-height: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  

  /************************************ Media Queries ***********************************/
