<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    <div class="container jumbotron">
        <title>
            UVic 3D Printing Navigator
        </title>
        <center>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <div class="row">
                        <div class="nav navbar-nav">
                            <a class="navbar-link" href="{% url 'create' %}"> Create Job
                            <a class="navbar-link" href="{% url 'admin:index' %}">Admin
                            <a class="navbar-link" href="{% url 'view' %}">View Jobs
                            <a class="navbar-link" href="{% url 'about' %}">About
                        </div>
                    </div>
            </nav>
        </center>
    </div>
    <body>
        {% block pageContent %}
        {% endblock %}
    </body>
    <footer>
        <div class="container footer">
            <div class="row">
                <div class="col-12 md-4">
                    This is team 2!
                </div>
            </div>
            <div class="row">
                <p>CopyRight@2020</p>
            </div>
        </div>
    </footer>    
</html>