{% extends "base.html" %}
{% block pageContent %}
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">
                About
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                UVic 3D Printing Payment System
            </h6>
            <p class="card-text">
                This project's goal is to simplify the process of starting a 3D printing job at the 
                University of Victoria from start to finish. All that is left is to collect the job. 
            </p>
        </div>
    </div>
{% endblock %}