{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block pageContent %}    
    <div class="container mt-2">        
        <form action="add_job/" method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
        <p style="font-weight: bold">Need some help?</p><br>
        <p>In the Job Details textbox above you can specify how you would like your project to be printed.
        The following are some things you could choose to specify:
        <ul>
            <li><span style="text-decoration: underline">Filament colour</span> - Options: Blue, Red, Green, Purple, White, Black, etc. (Some colours may not be available at the time of your print job so it might be good to specify your second or third choice of colour as well).</li>
            <li><span style="text-decoration: underline">Print settings</span> - Options: Scale, infill density, layer height, shells, rafts and supports preferences</li>
            <li><span style="text-decoration: underline">Model of 3D Printer</span> - Options: MakerBot® Replicator® (5th Gen), MakerBot® Replicator® +, Ultimaker 3</li>
            <li><span style="text-decoration: underline">Type of filament</span> - Options: PLA (Polylactic Acid), PVA Dissolving Filament, TPU 95a</li>
        </ul> 
        Don't worry if some of the above doesn't make sense, but we encourage you to research the terms you don't understand! 
        Our default print settings can hanlde most print jobs very well.   
        If you leave 'Job Details' blank, we will use default settings for your project. 
        </p>
    </div>
{% endblock %}