{% extends "base.html" %}
{% block pageContent %}
    <div class="row mt-2" style="padding-bottom: 50px">
        <div class="col">
            <h2 style = "position:relative; text-align:center;"> Your List of Print Requests </h2>
        </div>
    </div>
    <div class="container" style="border-radius: 24px 24px 0px 0px">
        <div class="row" style="padding-bottom: 12px; padding-top: 12px;">
            <div class="col-12 col-md-3">
                <b>Job Id</b>
            </div>
            <div class="col-12 col-md-4">
                <b>3D File</b>
            </div>
            <div class="col-12 col-md-1">
                <b>Cost</b>
            </div>
            <div class="col-12 col-md-2">
                <b>Payment Complete</b>
            </div>
            <div class="col-12 col-md-2">
                <b>Job Completed</b>
            </div>
        </div>
        {% for job in jobs %}
            <div class="row bg-info" style="padding-top: 24px; padding-bottom: 24px; border-top: 10px solid rgb(35, 215, 228);">
                <div class="col-12 col-md-3">
                    {{job.jobId}}
                </div>
                <div class="col-12 col-md-4" style="display: block; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    {{job.fileName}}
                </div>
                <div class="col-12 col-md-1">
                    {{job.cost}}
                </div>
                <div class="col-12 col-md-2">
                    {{job.paymentCompleted}}
                </div>
                <div class="col-12 col-md-2">
                    {{job.jobCompleted}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}